<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Live statistic</a>
      </li>
      <li>
        <a href="/daily"><span class="glyphicon glyphicon-user"></span> Daily statistics</a>
      </li>
    </ul>
  </div>
</nav>
