<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2 id="title">Eurovision Song Content - Statistics</h2>

<table id="table"></table>

</div>

</body>
<script>
$('#title').text("Eurovision Song Content - Today's Statistics");
$('#table').bootstrapTable({
  sortName: 'views',
  sortOrder: 'desc',
  columns: [{
    field: 'country',
    title: 'Country'
  }, {
    field: 'views',
    title: 'Views',
    sortable: true
  }, {
    field: 'likes',
    title: 'Likes',
    order: 'desc',
    sortable: true
  }, {
    field: 'dislikes',
    title: 'Dislikes',
    order: 'desc',
    sortable: true
  }, {
    field: 'likesToDislikesRatio',
    title: 'Likes to dislikes ratio',
    order: 'desc',
    sortable: true
  }, {
    field: 'comments',
    title: 'Comments',
    order: 'desc',
    sortable: true
  }]
});

fetch('/api/daily')
  .then(function(response) {
    return response.json();
  })
  .then(function(response) {
    let data = response.map((item) => {
      item.likesToDislikesRatio = (item.likes / item.dislikes).toFixed(2);
      return item;
    });
    $('#table').bootstrapTable('load', data);
  });

</script>
</html>
