<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Eurovision Song Content - Overall Live Statistics</h2>

<table id="table"></table>

</div>

</body>
<script>
function countryFormatter(value, row, index, field) {
  return `<a href="https://www.youtube.com/watch?v=${row.id}">${value}</>`;
}
$('#table').bootstrapTable({
  sortName: 'views',
  sortOrder: 'desc',
  columns: [{
    field: 'country',
    title: 'Country',
    formatter: countryFormatter
  }, {
    field: 'views',
    title: 'Views',
    sortable: true
  }, {
    field: 'likes',
    title: 'Likes',
    order: 'desc',
    sortable: true
  }, {
    field: 'dislikes',
    title: 'Dislikes',
    order: 'desc',
    sortable: true
  }, {
    field: 'likesToDislikesRatio',
    title: 'Likes to dislikes ratio',
    order: 'desc',
    sortable: true
  }, {
    field: 'comments',
    title: 'Comments',
    order: 'desc',
    sortable: true
  }]
});

fetch('/api')
  .then(function(response) {
    return response.json();
  })
  .then(function(response) {
    var data = response.map((item) => {
      item.likesToDislikesRatio = (item.likes / item.dislikes).toFixed(2);
      return item;
    });
    $('#table').bootstrapTable('load', data);
  });

</script>
</html>
